# Cloud stuff
hcloud_token = ""
ssh_key = ""

# TM stuff
admins = [
    "7bnf59fPSt2KXtmS-io1uw"  # <-- TM login IDs
]
maps = {
    "shortname" = "https://core.trackmania.nadeo.live/maps/...",
}
room_password = "coolevent"
dedi_credentials = [
    # Get these from https://www.trackmania.com/player/dedicated-servers
    {
        login = "foobar",
        password = "barfoo",
    },
]
